html,
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 100vh;
  background-color: #060606;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: rgba(255, 255, 255, 0.8);
  --color-100: #5454e7;
  --color-200: #51518b;
  --color-300: #464654;
  --color-400: #343438;
  --color-500: #252526;
  --color-600: #1a1a1b;
  --color-700: #131313;
  --color-800: #0d0d0d;
  --color-900: #090909;
  --color-1000: #060606;
}
